global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'bupa-app'
    static_configs:
      - targets: ['ip-add:9100']
    metrics_path: '/metrics'
